<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>Cocktail of the Day</h1>
  <p class="cocktailFont">
    <%= name %>
  </p>
  <div class="card" style="background-image: url('<%= image %>');">
    <p>
      <%= recipe %>
    </p>
  </div>
  <div class="cocktailFont">
    <h3>Ingredients</h3>
    <ul>
      <% ingredients.forEach(item => { %>
        <li><%= item.measure %> <%= item.ingredient %></li>
      <% }) %>
    </ul>
  </div>
</body>

</html>